{% extends 'main/base.html'%}
{% block title%}Welcome To Online Book Store{% endblock %}
{% block body %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Welcome To Online Book Store</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Here You can buy or sell thousand books.Find your books and enjoy your study.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/seller/"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Seller Account</button></a>
        <a href="/customer/"><button type="button" class="btn btn-success btn-lg px-4">Buyer Account</button></a>
      </div>
    </div></div>
{% endblock %}