{% extends 'main/base.html'%}
{% block title%}Welcome To Online Book Store{% endblock %}
{% block body %}
<div class="container my-4">
  <form class="row" method="POST" action="/seller/updbook/{{detail.id}}">
    {% csrf_token %}
      <h1>Update Book Details</h1>
      <div class="col-md-12">
          <label for="bname" class="form-label">Book Name</label>
          <input type="text" class="form-control" id="bname" name="bname" value={{detail.book_name}} required>
        </div>
        <div class="col-md-12">
          <label for="category" class="form-label">Category</label>
          <input type="text" class="form-control" id="caegory" name="category" value={{detail.category}} required>
        </div>
      <div class="col-md-12">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author" value={{detail.author}} required>
      </div>
      <div class="col-12">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" id="desc" name="desc" value={{detail.description}} required>
      </div>
      <div class="col-12">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" value={{detail.price}}  required>
      </div>
     
     
     

    
      <div class="col-12">
        <button type="submit" class=" my-4 btn btn-primary">UPDATE</button>
      </div>
    </form></div>
   
 
{% endblock %}